<div class="container">
  <div class="mx-auto" style="width: 500px;">
    <h4 class="title mt-2 mb-4 p-2 text-center">イベント編集画面</h4>
      <%= render 'public/shared/error_messages', resource: @event %>
      <%= render 'public/events/form', event: @event %>
  </div>
</div>