<div class="container mt-5">
    <div class="row ">
      <div class="admin_top1 mr-3 col text-center">
        <h2 class="admin_top1-title"><i class="fas fa-users-cog"></i>&nbsp;
            <%= link_to "会員管理", admin_users_path, class:"text-light" %>
        </h2>
        <p>会員の管理画面です。</br>
           会員の有効・退会の</br>
           ステータス変更はこちらから
        </p>
      </div>
      <div class="admin_top2 ml-2 col text-center">
          <h2 class="admin_top2-title"><i class="far fa-calendar-alt"></i>&nbsp;
              <%= link_to "イベント管理", admin_events_path, class:"text-light" %>
          </h2>
        <p>イベント管理画面です。</br>
           登録されているイベントの閲覧、</br>
           イベントの終了・変更等はこちらから
        </p>
      </div>
    </div>
</div>