<div class="container mt-4">
  <div class="mx-auto" style="width: 500px;">
  <h3 class="mt-2 mb-4 p-2 text-center">申請依頼</h3>
    <%= paginate @activities %>
      <% if @activities.present? %>
        <% @activities.each do |activity| %>
          <%= render "#{activity.action_type}", activity: activity %>
        <% end %>
      <% else %>
        <p class="text-center">お知らせはありません</p>
      <% end %>
    </div>
</div>