<% if @activities.present? %>
<% @activities.each do |activity| %>
    <%= render "#{activity.action_type}", activity: activity %>
<% end %>
<% else %>
  <p class="text-center">お知らせはありません</p>
<% end %>