@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.notice {
  background-color: #EEFFFF;
  color: #white;
  text-align: center;
}

.alert {
  background-color: #FFEEFF;
  color: #white;
  text-align: center;
}

.read {
  background: #f1f1f1;
}

.pagination>li>a {
  color: #696969;

}

.pagination>.active>a {
  background: #93c9ff;
}

.pagination>li>a:hover {
}


.top-bg {
  background-image: url("../images/top_image.png");
  background-size:cover;
}