@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.notice {
  background-color: #EEFFFF;
  color: #white;
  text-align: center;
}

.alert {
  background-color: #FFEEFF;
  color: #white;
  text-align: center;
}

.pagination>li>a {
  color: #696969;

}

.pagination>.active>a {
  background: #93c9ff;
}

.pagination>li>a:hover {

}
